# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

x64/

Dependencies/

ARGUELLES_GLFW/x64/

.vs/
*.vsidx
*.vsidx
.vs/ARGUELLES_GLFW/v17/.suo
*.db
*.ipch
.vs/ARGUELLES_GLFW/v17/.suo
.vs/ARGUELLES_GLFW/v17/Browse.VC.db
.vs/ARGUELLES_GLFW/v17/ipch/AutoPCH/45f535ed3ba3a1/ARGUELLES_GLFW.ipch


